<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="CalendarCleaner">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Remove Chinese lunar calendar from ColorOS Calendar. By rodion353"/>
        <meta-data
            android:name="xposedminversion"
            android:value="82"/>
    </application>
</manifest>
